*{font-family: 'Open Sans', sans-serif;}
body:after {
    left: 0;
    position: fixed;
    top: 0;
    content: '';
    width: 9px;
    height: 100vh;
    background: #4CF0FE;
    z-index: 9;
}
body:before {
    content: '';
    background: linear-gradient(180deg, #FBCF49 0%, #F6A223 100%);
    position: fixed;
    top: 77px;
    height: calc(100vh - 77px);
    width: 4px;
    right: 0;
    z-index: 9;
}

.sectionGeneral {
    display: block;
    position: relative;
    width: calc(100% - 565px);
    padding: 75px 66px 75px;
    transition: .4s ease;
}
.contGeneral .sectionGeneral:nth-child(1) {
    padding: 152px 66px 75px;
}
.cotizador {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 314px;
    background: linear-gradient(130deg,
        #2180f8,
        #3d63dc);
    height: calc(100vh - 157px);
    padding: 117px 60px 40px;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    overflow: hidden;
    overflow-y: hidden;
    overflow-y: auto;
}

.header {
    z-index: 9;
    position: fixed;
    width: 100%;
}
.menu2 {
    width: 100%;
    height: 77px;
    background: linear-gradient(180deg, #000000e0 0%, #00000090 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ffffff;
}
.menu2 .ancla {
    width: calc(100% - 150px);
    height: 100%;
}

.menu2 .contLogo {
    height: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 143px;
}
.menu2 .contLogo img {
    height: calc(100% - 30px);
}
.menu2 .contIconWp {
    height: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: top;
    width: 50px;
}
.menu2 .contIconWp img{
    height: calc(100% - 50px);
}
.menu2 .nav {
    display: inline-flex;
    width: calc(100% - 233px);
    vertical-align: top;
    height: 37px;
    padding: 20px;
}
.menu2 .nav .listMenu {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.menu2 .nav .listMenu .item {
    color: #ffffff;
    height: 100%;
    max-width: 100px;
    font-size: 14px;
    line-height: 1.4;
}
.menu2 .nav .listMenu .item .iconMenu {
    color: #F68423;
    display: inline-flex;
    width: 1px;
    justify-content: center;
    align-items: center;
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: 10px;
}
.banner{
    position: relative;
    overflow: hidden;
}
.banner .contImg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.banner .contImg img{
    width: calc(100% + 0px);
    top: 60px;
    position: absolute;
}
.spaceTop{
    min-height: 250px;
    height: 30vh;
}
.banner .title {
    margin-bottom: 55px;
}
.banner .p1 {
    max-width: 600px;
    font-size: 16px;
}
.btnGeneral {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    line-height: 1.2;
    padding: 0px 46px;
    height: 46px;
    width: max-content;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background: #0BE6FF;
    box-shadow: 0px 2px 15px 0px rgba(0,0,20,.1);
}
.banner .btnGeneral {
    color: #000000;
}
.banner .btnGeneral:hover {
    color: #ffffff;
}
.banner .contClient {
    border-radius: 9px;
    background: #ffffff;
    max-width: 850px;
    width: 100%;
    height: 102px;
    margin: 75px 0 0;
}
.cotizador .contImg, .sectionGeneral .contImg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.cotizador .contImg img {

    width: 150%;
    position: absolute;
    top: 0;
    bottom: -280px;
    margin-top: 0px;

}
.sectionGeneral .contImg img {
    min-width: 100%;
    width: auto;
    min-height: 100%;
}
.contIconCatacte img.icon{
    max-width: 60px; padding: 20px; margin: auto;
}
.contIconCatacte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 30px;
}
.contIconCatacte img {
    max-width: 100%;
    max-height: 100%;
}
.pasoButtom:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 121px;
    background: linear-gradient(180deg, #3A56D700 0%, #3A56D7 100%);
    opacity: .09;
}
.column.W33 .p1 {
    max-width: 230px;
    margin: auto;
}
.caracteristicas {
    margin-top: 30px;
}
.caracteristicas > div {
    display: inline-flex; align-items: center;
    margin-top: 15px;
}
.caracteristicas > div > img {
    max-height: 60px; margin-right: 15px;
}
.caracteristicas > div > p.p1 {
    max-width: 400px; font-size: 17px;
}
.diferencial p.p1 {
    color: #0BE6FF;
    text-transform: uppercase;
}
.galeria {
    margin-top: 60px;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
}
.contImgUnica, .contImgDoble {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 0;
}
.contImgUnica img, .contImgDoble img{
    max-width: calc(100% - 20px);
    padding: 10px;
    border-radius: 30px;
    transition: .4s;
    transform: scale(1);
    box-shadow: 0px 0px 0px rgba(0,0,0,.1);
    z-index: 0;
    position: relative;
    background: rgba(255,255,255,0);
}
.contImgUnica img:hover, .contImgDoble img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 25px rgba(0,0,0,.2);
    z-index: 10;
    background: rgba(255,255,255,.6);
}
.contImgUnica:hover, .contImgDoble:hover{
    z-index: 2;
}
.contImgDoble img {
    max-width: calc(100% - 22px);
    padding: 8.5px 11px 7px;
}
img.icon {
    max-width: 80px;
    padding: 0 0 20px 0;
}
form.form {
    padding: 15px 0;
    border-radius: 5px;
    margin: auto;
    width: 100%;
}
.contCampo {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    vertical-align: bottom;
    width: 100%;
}
input.campo, textarea.campo, select.campo {
    display: block;
    margin: auto;
    width: calc(100% - 16px);
    max-width: calc(100% - 16px);
    min-width: calc(100% - 16px);
    padding: 10px 7px;
    border: 1px solid #4CF0FE;
    border-radius: 6px;
    height: 18px;
    background: rgba(0,0,0,.1);
    color: #fff;
    font-size: 16px;
}
.contCampo label {
    padding: 10px 0;
    font-size: 14px;
}
select.campo {
    width: calc(100% - 0px);
    max-width: calc(100% - 0px);
    min-width: calc(100% - 0px);
    height: 40px;
    padding: 7px 5px;
    color: #fff;
}
select.campo > option {
    font-size: 96%;
    color:  #000;
}
.form .btnGeneral {
    background: #37A8F7;
    width: calc(100% - 4px);
    padding: 0;
    margin-bottom: 20px;
}
.customRadio .contCampo {
    width: calc(50% - 10px);
    border: 1px solid #4CF0FE;
    border-radius: 6px;
    height: 38px;
    background: rgba(0,0,0,.1);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 20px;
}
.customRadio .contCampo .campoRadio {
    height: 20px;
    display: inline-flex;
    padding-left: 40px !important;
    position: absolute;
    -webkit-box-pack: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    right: 2px;
    top: -1px;
    cursor: pointer;
}
.campoRadio::after {
    background: transparent;
    border: 1px solid #4CF0FE;
    cursor: pointer;
}
.customRadio .contCampo > label:nth-child(1) {
    padding-left: 15px;
    cursor: pointer;
}

.form .mobile {
    display: none;
    position: absolute;
    top: -134px;
}
.form .mobile .btnGeneral {
    color: #042A4A;
    background: #ffffff;
}
.btnGeneral.otro {
    color: #292F32;
    background: #ffffff;
    border: 1px solid #F68423;
    margin-top: 60px;
    box-shadow: none;
}
label.error {
    position: absolute;
    top: 10px;
    right: 3px;
    font-size: 12px;
}

.errorCustomTop label.error {
    display: none !important;
}
input[type="checkbox"].error ~ label, label.error {
    color:#fe0;
}
.campo.error, .campo.error ~ label.campoRadio::after {
    border-color:#fe0;
}
input[type="checkbox"] {
    position: relative;
    z-index: 1;
    opacity: 1;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    top: 8px;
}
.custom label.error {
    bottom: 15px;
}










@media only screen and (max-width: 1363px) {

    .sectionGeneral {
        width: calc(100% - 132px);
    }
    .cotizador {
        top: calc(100vh - 73px);
        width: calc(0% + 314px);
        z-index: 99;
        padding: 97px 18px 40px;
        height: 75vh;
        overflow: hidden;
    }
    .form .mobile {
        display: flex;
    }
    .cotizador {
        height: calc(100vh - 215px);
    }
    .cotizador.activo {
        top: calc(0vh + 78px);
        width: calc(0% + 314px);
        z-index: 99;
        overflow: hidden;
        overflow-y: auto;
    }
    .cotizador .contImg img {

        width: 200%;
        margin-top: -100px;

    }
    body:before {
        z-index: 999;
        opacity: 0;
        transition: .4s ease;
    }
    body.cotizActivo:before {
        opacity: 1;
    }
    .form .mobile .btnGeneral:after {
        content: 'Empezar cotización';
    }
    .form .mobile.activo .btnGeneral:after {
        content: 'Cerrar cotizador';
    }
    .menu2 .ancla {
        width: calc(100% - 60px);
    }
    .banner .contClient {
        max-width: 800px;
    }
}
@media only screen and (max-width: 1163px) {

    .cerrarMenu {
        display: inline-flex;
        height: calc(100% - 20px);
        width: 53px;
        justify-content: center;
        align-items: center;
        background: rgba(255,255,255,.1);
        border-radius: 8px;
        margin-top: 10px;
        vertical-align: top;
        cursor: pointer;
    }
    .cerrarMenu span.iconMenu {
        background: #ffffff;
        width: 50%;
        height: 3px;
        transition: .4s ease;
    }
    .cerrarMenu span.iconMenu:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: -10px;
        background: #fff;
        transition: .4s ease;
    }
    .cerrarMenu span.iconMenu:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: -10px;
        background: #fff;
        transition: .4s ease;
    }
    .menu2 {
        background: #163051;
        border-bottom: 1px solid transparent;
    }
    .menu2 .nav {
        width: calc(100% - 286px);
    }
    .menu2 .nav .listMenu {
        display: block;
        width: 280px;
        top: 77px;
        right: 0px;
        justify-content: space-around;
        position: absolute;
        background: #124FA8;
        padding: 20px 0px;
        border-radius: 0 0 20px 20px;
    }
    .menu2 .nav .listMenu .item {
        color: #ffffff;
        height: auto;
        max-width: 100%;
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        padding: 15px 0;
    }
    .menu2 .nav .listMenu {
        display: block;
        width: 280px;
        top: 77px;
        right: 0px;
        justify-content: space-around;
        position: absolute;
        background: #124FA8;
        padding: 0px 0px;
        border-radius: 0 0 0px 0px;
        overflow: hidden;
        max-height: 0px;
        transition: .4s ease;
    }
    .menu2 .nav.activo .listMenu {
        overflow: hidden;
        padding: 20px 0px;
        max-height: 350px;
        border-radius: 0 0 20px 20px;
    }
    .cerrarMenu.activo span.iconMenu {
        background: transparent;
    }
    .cerrarMenu.activo span.iconMenu:after {
        transform: rotate(-45deg);
        top: 0;
    }
    .cerrarMenu.activo span.iconMenu:before {
        transform: rotate(45deg);
        bottom: 0;
    }
}



@media only screen and (max-width: 930px) {

    .banner .contClient {
        border-radius: 9px;
        background: #ffffff;
        width: calc(100% - 0px);
        height: auto;
        border:1px solid #f0f0f0;
    }
    .banner .contClient div {
        width: calc(100% - 60px) !important;
        text-align: center;
        height: auto !important;
        padding: 30px !important;
    }
    .cotizador .contImg, .sectionGeneral .contImg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .contImg.fixed {
        height: 100vh;
        position: fixed;
        overflow: hidden;
        overflow-y: hidden;
        overflow-y: hidden;
    }
    .banner .contImg:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 300px;
        background: #ffffff;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    picture img.rectangleLogo {
        width: 100% !important;
    }
}

@media only screen and (max-width: 700px) {
    .column.W50 {
        width: calc(100% - 10px);
    }
    .column.W33 {
        width: calc(100% - 10px);
    }
    .casosDeUso .column.W33 {
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
    .casosDeUso .column.W33 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .casosDeUso .column.W33 img.icon {
        padding: 0 20px 0px 0;
    }
    .casosDeUso .column.W33 .p1 {
        max-width: inherit;
        margin: 0px;
        text-align: left;
        display: block;
        vertical-align: middle;
    }
    .casosDeUso h3 {
        text-align: left !important;
    }
}

@media only screen and (max-width: 530px) {
    .btnGeneral.otro {
        padding: 0px 30px;
    }
    .btnGeneral.otro {
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        margin-left: auto;
        margin-right: auto;
    }

    .banner .title {
        margin-bottom: 15px;
    }
    body h1 {
        font-size: 26px;
        line-height: 26px;
    }
    .sectionGeneral {
        width: calc(100% - 60px);
        padding: 35px 30px;
    }

    .contGeneral .sectionGeneral:nth-child(1) {
        padding: 152px 30px 20px;
    }
    .banner .contImg:before {
        height: 220px;
    }
    body:after {
        opacity: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.6);
        transition: .4s ease;
        z-index: -9;
    }
    .spaceTop {
        min-height: 120px;
        height: 25vh;
    }
    .banner .p1 {
        max-width: 600px;
        font-size: 12px;
    }
    .p1 {
        margin-bottom: 20px;
    }
    .cotizador {
        top: calc(100vh - 73px);
        width: calc(100% - 36px);
        z-index: 9;
        padding: 72px 18px 40px;
    }
    .cotizador.activo {
        top: calc(0vh + 77px);
        width: calc(100% - 36px);
        z-index: 9;
        overflow-y: auto;
        height: calc(100% - 189px);
    }
    .form .mobile {
        top: -105px;
    }
    form.form {
        padding: 0px 0;
    }
    .menu2 .ancla {
        width: calc(100% - 30px);
    }
    .banner .contClient {
        border-radius: 9px;
        background: #ffffff;
        width: calc(100% + 20px);
        height: auto;
        border: 1px solid #f0f0f0;
        left: -10px;
    }
    .contClient h3 {
        text-align: left;
        font-size: 16px !important;
    }
    .contCampo {
        margin: 5px auto;
    }
    .banner .contClient > div:nth-child(2) {
        width: calc(100% - 20px) !important;
        text-align: center;
        height: auto !important;
        padding: 0px 10px 30px !important;
    }
    .caracteristicas > div > p.p1 {
        width: 100%;
    }
    .contIconCatacte {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 60px;
        margin-right: 30px;
    }
    .casosDeUso .column.W33 img.icon {
        padding: 0 30px 0px 0;
        max-width: 67px;
    }
    .menu2 .nav.activo .listMenu {
        padding: 20px 0px;
        max-height: 350px;
        border-radius: 20px;
        top: 87px;
        width: calc(100%);
    }
    .header {
        z-index: 999;
        position: fixed;
        width: 100%;
    }
    body.menuActivo:after {
        left: 0;
        position: fixed;
        top: 0;
        content: '';
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.6);
        z-index: 99;
        opacity: 1;
    }
}

















