*{
    margin:0;
    padding: 0;
    border-width: 0;
    line-height: 1.2;
	list-style: none;
	font-style: unset;
	outline-style: none;
	text-decoration: none;
    border-width: none;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    font-size: 0;
}
body{
	width: 100%;
	display: block;
	position: relative;
}
body.offScroll {
    overflow: hidden;
}
html {-webkit-text-size-adjust: 100%;}
div{position: relative;}
hr {box-sizing: content-box; height: 0; overflow: visible;}
pre {font-family: monospace, monospace; font-size: 1em; }
a {background-color: transparent;text-decoration: none;display: block;}
abbr[title] {border-bottom: none; text-decoration: underline; text-decoration: underline dotted; }
b, strong {font-weight:bold;}
code, kbd, samp {font-family: monospace, monospace; font-size: 1em; }
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
img {border-style: none;}
button, input, optgroup, select, textarea {font-family: inherit;font-size: 90%;margin: 0;}
label {display: block;position: relative;}
span{display: block;position: relative;}
button, input {overflow: visible; display: block;position: relative;}
button, select {text-transform: none;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}
fieldset {padding: 0.35em 0.75em 0.625em;}
legend {box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0;white-space: normal;}
progress {vertical-align: baseline;}
textarea {overflow: auto;}
[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
details {display: block;}
summary {display: list-item;}
template {display: none;}
[hidden] {display: none;}
div.displayFlexFullS{width: 100%;min-height: 100vh;}
.W5{width: 5%;}
.W10{width: 10%;}
.W15{width: 15%;}
.W20{width: 20%;}
.W25{width: 25%;}
.W30{width: 30%;}
.W33{width: 33.33%;}
.W35{width: 35%;}
.W40{width: 40%;}
.W45{width: 45%;}
.W50{width: 50%;}
.W55{width: 55%;}
.W60{width: 60%;}
.W65{width: 65%;}
.W66{width: 66.66%;}
.W70{width: 70%;}
.W75{width: 75%;}
.W80{width: 80%;}
.W85{width: 85%;}
.W90{width: 90%;}
.W95{width: 95%;}
.W100{width: 100%;}

.column.W5{width: calc(5% - 10px);}
.column.W10{width: calc(10% - 10px);}
.column.W15{width: calc(15% - 10px);}
.column.W20{width: calc(20% - 10px);}
.column.W25{width: calc(25% - 10px);}
.column.W30{width: calc(30% - 10px);}
.column.W33{width: calc(33.33% - 10px);}
.column.W35{width: calc(35% - 10px);}
.column.W40{width: calc(40% - 10px);}
.column.W45{width: calc(45% - 10px);}
.column.W50{width: calc(50% - 10px);}
.column.W55{width: calc(55% - 10px);}
.column.W60{width: calc(60% - 10px);}
.column.W65{width: calc(65% - 10px);}
.column.W66{width: calc(66.66% - 10px);}
.column.W70{width: calc(70% - 10px);}
.column.W75{width: calc(75% - 10px);}
.column.W80{width: calc(80% - 10px);}
.column.W85{width: calc(85% - 10px);}
.column.W90{width: calc(90% - 10px);}
.column.W95{width: calc(95% - 10px);}
.column.W100{width: calc(100% - 10px);}


.W5.paddingWidth{width: calc(5% - 40px);}
.W10.paddingWidth{width: calc(10% - 40px);}
.W15.paddingWidth{width: calc(15% - 40px);}
.W20.paddingWidth{width: calc(20% - 40px);}
.W25.paddingWidth{width: calc(25% - 40px);}
.W30.paddingWidth{width: calc(30% - 40px);}
.W33.paddingWidth{width: calc(33.33% - 40px);}
.W35.paddingWidth{width: calc(35% - 40px);}
.W40.paddingWidth{width: calc(40% - 40px);}
.W45.paddingWidth{width: calc(45% - 40px);}
.W50.paddingWidth{width: calc(50% - 40px);}
.W55.paddingWidth{width: calc(55% - 40px);}
.W60.paddingWidth{width: calc(60% - 40px);}
.W65.paddingWidth{width: calc(65% - 40px);}
.W66.paddingWidth{width: calc(66.66% - 40px);}
.W70.paddingWidth{width: calc(70% - 40px);}
.W75.paddingWidth{width: calc(75% - 40px);}
.W80.paddingWidth{width: calc(80% - 40px);}
.W85.paddingWidth{width: calc(85% - 40px);}
.W90.paddingWidth{width: calc(90% - 40px);}
.W95.paddingWidth{width: calc(95% - 40px);}
.W100.paddingWidth{width: calc(100% - 40px);}



/*Compositor*/
.sectionBoxed{
	display: block;
	position: relative;
	width: calc(100% - 30px);
	max-width: 1004px;
	margin: auto;
	height: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.sectionFullWidth{
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.sectionFullHeight{
    height: 100vh;
}
.sectionFullScreen{
	display: block;
	position: relative;
	width: 100%;
	min-height: 100vh;
}
.row, .columnBlock{
	display:block;
	position: relative;
	padding: 15px 0px;
	margin: auto;
}
.columnBlock{
    padding: 15px 5px;
}
.columnBlockBottom {
    position: absolute;
    bottom: 60px;
}
.column{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 15px 5px;
}
.content{
	display: inline-block;
}
.content.img img {
    display: block;
    width: 100%;
    margin: auto;
    max-height: 100%;
}
.contentBlock{
	display: block;
}
.inlineBlock{
	display: inline-block;
	vertical-align: top;
}


/*Alineación*/
.alignBoxCenter{
    margin-top: auto;
    margin-bottom: auto;
}
.flexBoxCenterCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexBoxSpaceBetweenCenter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body h1 {
    font-size: 72px;
    line-height: 77px;
    font-weight: 700;
    color: #3C3C3C;
}
body h1.tituloGrande {
    font-size: 80px;
    font-weight: 900;
    line-height: 1.2;
}
h1.tituloHome {
    font-weight: 600;
}
h3{
    font-size: 27px;
    line-height: 1;
    font-weight: 500;
    color: #3C3C3C;
}
h2{
    font-size: 28px;
    line-height: 38px;
    font-weight: 200;
    color: #3C3C3C;
}
h2.tituloGrande {
    font-size: 33px;
}
h2 b{
    font-size: 27px;
    line-height: 38px;
    font-weight: 700;
}
h4 {
    font-size: 30px;
    color: #3C3C3C;
    line-height: 1.2;
    font-weight: 400;
}
h5 {
    font-size: 22px;
    color: #3C3C3C;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}
h6 {
    font-size: 10px;
    color: #3C3C3C;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
}
.bodyTabla .row .column h5 {
    font-size: 22px;
    line-height: 1.3;
    font-weight: 400;
    color: #3C3C3C;
}
li, span, label, p, a, input, b {
    font-size: 19px;
    color: #3C3C3C;
}
.p1 {
    font-size: 14px;
    line-height: 1.4;
    color: #3C3C3C;
    font-weight: 500;
    margin-bottom: 30px;
}
div .p1:nth-last-child(1) {
    margin-bottom: 0;
}
p.p1 span, p.p1 a {
    display: inline-block;
    font-size: 14px;
}
.dark .p1, .dark h1, .dark h2, .dark h2 b, .dark h3, .dark h4, .dark h5, .dark h6, .dark label, .dark a, .dark p, .dark span, .dark input, .dark li {
    color: #fff;
}
div p:nth-last-child(1){
    margin-bottom: 0;
}
.paddingHeight {
    padding: 60px 5px;
}
.paddingWidth {
    padding: 15px 20px;
}
.noPaddingHeight, .noPaddingHeight div {
    padding: 0 5px;
}
.imgGeneral {
    display: block;
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    margin: auto;
}





/*Elementos*/
a.linkBox {
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% + 20px);
    top: -10px;
    left: 0;
}
.spaced {
    height: 60px;
    display: block;
}
.line {
    display: block;
    height: 3px;
    width: 60%;
    margin: 10px 0 30px 0;
    background: #30c1be;
}
.lineLeft{
    margin-left: calc(5% - 12.5px);
    position: relative;
    margin-bottom: 0 !important;
}
.lineLeft:after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: calc(100% + 20px);
    background: #363D42;
    left: -3.5%;
    top: -10px;
}
.dark .lineLeft:after {
    background: #ffffff;
}
.separatingLine {
    background: #d3d3d3;
    height: 1px;
    display: block;
    margin-bottom: 60px;
    position: relative;
    margin-top: 60px;
}
.separatingLine.small {
    background: #d3d3d3;
    height: 1px;
    display: block;
    margin-bottom: 0px;
    position: relative;
    margin-top: 30px;
}
.dark .separatingLine{
    background: #ffffff;
}
.column span.separatingLine:nth-child(1) {
    margin-top: 0;
}
.column span.separatingLine:nth-last-child(1) {
    margin-bottom: 0;
}
.btnGeneral {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    color: #fff;
    line-height: 1.2;
    padding: 0px 30px;
    height: 78;
    width: max-content;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    background: #0BE6FF;
    box-shadow: 0px 2px 15px 0px rgba(0,0,20,.1);
}
a.btnLineBottom {
    display: block;
    margin: 60px auto 0px;
    width: max-content;
    padding: 10px 15px;
    border-bottom: 2px solid #F9402F;
}
.btnGeneral:hover {
	border-color: transparent;
    background: #373D42;
    color: #ffffff;
}
#heart {
    position: relative;
    width: 24px;
    height: 12px;
    animation: heartbeat 2s infinite;
    margin: 0 auto;
    display: inline-block;
}
#heart:after, #heart:before {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 15px;
    background: #ff493e;
    border-radius: 10px 10px 0 0;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.contentBlock.hoverBox.linck {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    overflow: hidden;
    cursor: pointer;
}
.contentBlock.hoverBox.linck:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    transition: .4s;
}
.contentBlock.hoverBox.linck:hover:before{
    background: rgba(0,0,0,.5);
}
.contentBlock.hoverBox.linck label.text {
    font-size: 0px;
    display: block;
    padding: 0px 0px 25px 45px;
    width: calc(100% - 45px);
    transition: .4s;
    font-weight: 200;
}
.contentBlock.hoverBox.linck:hover label.text{
    font-size: 22px;
}
.contentBlock.hoverBox.linck span.iconoFlecha {
    position: absolute;
    left: -77px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background: #ffffff;
    border-radius: 50%;
    transition: .4s;
}
.contentBlock.hoverBox.linck:hover span.iconoFlecha{
    left: -37px;
}
span.iconoFlecha:before {
    content: '';
    width: 11px;
    height: 2px;
    background: #363D42;
    right: 13px;
    position: absolute;
}
span.iconoFlecha:after {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #363D42;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(45deg);
    right: 12px;
    position: absolute;
}
.contentBlock.hoverBox.linck label.text b {
    font-size: 30px;
    font-weight: 700;
}
.contentBlock.hoverBox.linck a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.light .iconoFlechaNextSection {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 100%);
    box-shadow: 0 0 25px rgba(0,0,0,.1);
}
.dark .iconoFlechaNextSection {
    display: flex;
    position: relative;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(0,10,30,1) 0%, rgba(10,20,30,1) 100%);
    box-shadow: 0 0 15px rgba(0,0,0,.2);
}
.light span.iconoFlechaNextSection::before {
    content: '';
    width: 2px;
    height: 30px;
    background: #333333;
    top: 15px;
    position: absolute;
}
.light span.iconoFlechaNextSection::after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #333333;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    top: 26px;
    position: absolute;
}
.dark span.iconoFlechaNextSection::before {
    content: '';
    width: 2px;
    height: 30px;
    background: #fff;
    top: 15px;
    position: absolute;
}
.dark span.iconoFlechaNextSection::after {
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
    top: 26px;
    position: absolute;
}



/*Animaciones*/
.fadeIn{
    opacity: 0;
}
.fadeInTop{
    opacity: 0;
    top: 200px;
}



/*Header*/
header.fixed{
	width: 100%;
	position: fixed;
    background: transparent;
    transition: .4s;
	top: 0;
	left: 0;
	z-index: 10;
    border-top:12px solid #000000;
}
header#header.dark.noTransparent {
    background: #212121;
}
header#header.light.noTransparent    {
    background: #fffffff0;
    box-shadow: 0 10px 25px -5px rgba(0,0,0,.1);
}
div.content.logo {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 50px;
}
div.content.logo img{
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
	display: none;
}




/*menú*/
nav.menu1 {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 225px);
    height: 50px;
    vertical-align: middle;
    position: relative;
}
li.item {
    position: relative;
    display: flex;
    transition: .4s;
}
nav.menu1 ul.fatherList li.item a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: transparent;
    transition: .4s;
    cursor: pointer;
}
nav.menu1 ul.fatherList li.item a:hover {
    color: #808080;
}
li.item a {
    font-size: 17px;
    font-weight: 500;
    transition: .4s;
}
nav.menu1 {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
}
nav.menu1 ul.fatherList li.item a {
    padding: 20px 2.5vw;
    cursor: pointer;
}
nav.menu1 ul.fatherList {
    background: transparent;
    transition: .4s;
    width: auto;
    padding: 0;
    position: absolute;
    top: -15px;
    right: 0px;
    z-index: -1;
    height: 80px;
    display: flex;
    justify-content: center;
    z-index: 9;
}
nav.menu1 div.btnMenu {
    display: none;
}
.item ul {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: .1s ease;
    width: 250px;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    max-height: 0;
}
.item:hover ul {
    transition: .4s ease;
    opacity: 1;
    top: 80px;
    transition-delay: .1s;
    max-height: 250px;
}
.item ul li {
    width: calc(100% - 0px);
}
.item.dark ul li a {
    color: #c0c0c0;
    transition: .4s;
}
.item.linck ul li a {
    color: #808080;
    transition: .4s;
}
.dark .item ul li:hover a {
    color: #ffffff;
}
.light .item ul li:hover a {
    color: #363636;
}
#header.light.transparent.subActive, #header.light.transparent.subActive nav ul li ul{
    background-color: #ffffff !important;
}
#header.dark.transparent.subActive,  #header.dark.transparent.subActive nav ul li ul{
    background-color: #323232 !important;
}
#header.light.subActive, #header.light.subActive nav ul li ul{
    box-shadow: 0 12px 25px -5px rgba(0,0,0,.1);
}
#header.dark.subActive,  #header.dark.subActive nav ul li ul{
    box-shadow: 0 12px 25px -5px rgba(0,0,0,.2);
}



/*Temas*/
div.content.logo.dark img:nth-child(2) {
    display: block;
}
div.content.logo.light img:nth-child(1) {
    display: block;
}
nav.dark a {
    color: #ffffff;
    transition: .4s;
}
nav.light a {
    color: #363636;
    transition: .4s;
}
div.imgBg.dark:before {
    background-color: rgba(0,0,0,.2);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.textShadow{
	text-shadow: -2px -1px 4px rgba(0,0,0,.3);
}
.themeColor{
	color: #F9402F;
}
.white{
    color: #ffffff;
}
.textCenter{
    text-align: center;
}
.textRight{
    text-align: right;
}
.shadowText{
    text-shadow: 0 2px 15px rgba(0,0,0,.15);
}
.themeBackground{
	background: #F9402F;
}


/*Fondo tema*/
.BGazulAf::after{
    background: #00B0FF ;
}
.BGverdeAf::after{
    background: #64DD17;
}
.BGnaranjaAf::after{
    background: #2196f3;
}
.BGrojoAf::after{
    background: #D50000;
}
.BGgrisAf::after{
    background: #313539;
}
.BGazul{
    background: #00B0FF;
}
.BGverde{
    background: #64DD17;
}
.BGnaranja{
    background: #2196f3;
}
.BGrojo{
    background: #D50000;
}
.BGgris{
    background: #373D42;
}



div.cajaVideoMascara {
    width: 100%;
    height: 100vh;
    max-height: 80vw;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    position: relative;
}
div.cajaVideoMascara video {
    width: calc(100% - 8px);
}
div.cajaVideoMascara img.mascara {
    position: absolute;
    width: 100%;
    height: auto;
}
div.cajaVideoMascara .mascara.mobile, div.cajaVideoMascara .videoMobile{
    display: none;
}


/*hook*/
.hookTop {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}


/*PopUp*/
.popUp {
    position: fixed;
    top: 0;
    opacity: 0;
    left: -101vw;
    background: rgba(0, 10, 20, .8);
    z-index: 10;
    width: 100%;
    min-height: 100vh;
    transition: .4s;
}
.popUp.activo{
    opacity: 1;
    left: 0vw;
}
.iconCerrarPopUp {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    width: 100%;
    z-index: 9;
}
.iconCerrarPopUp > span {
    display: flex;
    justify-content: flex-end;
}
.iconCerrarPopUp > span span {
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #2196f3;
    transition: .4s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
}
.iconCerrarPopUp > span span:hover {
    background: #212121;
}
.iconCerrarPopUp > span span:after, .iconCerrarPopUp > span span:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 3px;
    transition: .4s;
    cursor: pointer;
    background: #ffffff;
}
.iconCerrarPopUp > span span:before {
    top: auto;
}
.iconCerrarPopUp > span span:after, .iconCerrarPopUp > span span:before {
    bottom: auto;
    transform: rotate(45deg);
}
.iconCerrarPopUp > span span:before {
    transform: rotate(-45deg);

}
a.btnWizard {
    color: #212121;
    display: inline-block;
    margin: 7px 5px 7px 0px;
    background: #F0F0F0;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.4);
    cursor: pointer;
    transition: .4s;
}
a.btnWizard.activo{
    background: #2196f3;
    color: #ffffff;
}
a.btnWizard:hover{
    background: #212121;
    color: #ffffff;
}
.contWizard.registrarme, .contWizard.ingresar, .contWizard.recuperar {
    max-height: 0;
    overflow: hidden;
    padding: 0;
}
.contWizard.registrarme.activo, .contWizard.ingresar.activo , .contWizard.recuperar.activo {
    max-height: 70vh;
    overflow: hidden;
    padding: 0px;
}
.contGeneralBtnWizard {
    padding: 0 0px;
}
.popUpActivo {
    overflow: hidden;
}
.popUpActivo div {
    overflow: hidden;
}
.loading-overlay {
    display: table;
    opacity: 0.9;
    z-index: 10 !important;
}
.loading-overlay-content {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.loading-overlay.loading-theme-light {
    background-color: #fff;
    color: #000;
}
.loading-overlay.loading-theme-dark {
    background-color: #000;
    color: #fff;
}



/*Tabla*/
.conrTabla .contCampo {
    margin: 0px auto;
}
.conrTabla .column {
    padding: 0 5px;
}
.conrTabla .headerTabla {
    background: #363D42;
    color: #fff;
}
.bodyTabla .row {
    border-bottom: 1px solid #919599;
}
.iconCerrar {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.iconCerrar:after, .iconCerrar:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #363D42;
    transition: .4s;
    transform: rotate(45deg);
}
.iconCerrar:before {
    transform: rotate(-45deg);
}
.iconCerrar:hover:before {
    background: #d50000;
    transform: rotate(45deg);
}
.iconCerrar:hover:after {
    background: #d50000;
    transform: rotate(135deg);
}
span.iconoMas {
    position: absolute;
    width: 30px;
    height: 100%;
    right: -2px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
span.iconoMas:after, span.iconoMas:before{
    content: '';
    position: absolute;
    height: 12px;
    width: 2px;
    transform: rotate(0);
    transition: .4s;
    background: #ffffff;
}
span.iconoMas:before{
    transform: rotate(-90deg);
}
.btnGeneral:hover span.iconoMas:after{
    transform: rotate(90deg);
}
.btnGeneral:hover span.iconoMas:before{
    transform: rotate(0deg);
}
.contGeneralHub .column {
    min-width: 270px;
}
.contGeneralHub .ancla {
    width: 100%;
    min-width: 1420px;
}
.indexUp{
    position: relative;
    z-index: 2;
}
span.iconVerMas {
    position: absolute;
    top: 0;
    left: -30px;
    width: 10px;
    padding: 0 0 0 22px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0px;
    transition: .4s;
    color:#fff;
    background: transparent;
    z-index: 9;
    cursor: pointer;
}
span.iconVerMas:hover {
    width: 130px;
    font-size: 12px;
    background: #363D42;
}
span.iconVerMas::after {
    content: " ¡ ";
    position: absolute;
}
span.iconVerMas::before {
    content: " ";
    position: absolute;
}
span.iconVerMas::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    left: 7px;
}
span.iconVerMas::after {
    left: 16.5px;
    font-size: 20px;
    color: #ffffff;
    margin-top: -5px;
    font-weight: 600;
    line-height: 0;
}






/*calificación por estrellas*/
span.clasificacion {
    text-align: center;
    display: inline-block;
    padding: 0 21px 20px;
    direction: rtl;
    unicode-bidi: bidi-override;
}
span.clasificacion label {
    font-size: 30px;
    padding: 0;
    display: inline-block;
    color: #373D42;
}
span.clasificacion input[type="radio"] {
    display: none;
}
span.clasificacion label:hover,
span.clasificacion label:hover ~ label {
    color: #2196f3;
}
span.clasificacion input[type="radio"]:checked ~ label {
    color: orange;
}
.clasificacion.BGnaranja {
    top: 44px;
    left: -5px;
    padding: 0 10px 5px;
    width: calc(100% - 100px);
}
.clasificacion.BGnaranja h1.tituloFicha {
    color: #fff;
    position: relative;
    top: 8px;
    border: 0;
    padding: 5px 0;
}
.cajaCheackBox.portafolios {
    width: calc(50% - 280px);
}
.cajaCheackBox.proyectos {
    width: calc(50% - 280px);
}
.cajaCheackBox.programas {
    width: calc(50% - 280px)
}






/*Form*/
form{
    display: block;
    position: relative;
}
form.form {
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    width: 90%;
}
input.campo, textarea.campo, select.campo {
    display: block;
    margin: auto;
    width: calc(100% - 30px);
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    padding: 10px 7px;
    border: 1px solid #838688;
    border-radius: 4px;
    height: 18px;
}
select.campo{
    width: calc(100% - 12px);
    height: 40px;
    padding: 10px 5px;
}
input.campo:hover, textarea.campo:hover{
    border: 1px solid #2196f3;
}
input.campo:checked, textarea.campo:checked{
    border: 1px solid #2196f3;
}
select.campo:hover, textarea.campo:hover{
    border: 1px solid #2196f3;
}
select.campo:checked, textarea.campo:checked{
    border: 1px solid #2196f3;
}
.contCampo {
    position: relative;
    display: inline-block;
    margin: 10px auto;
    vertical-align: bottom;
}
.contCampo label {
    padding: 10px;
}
.campoCheck, .campoRadio {
    height: 20px;
    display: inline-flex;
    padding-left: 40px !important;
    position: relative;
    -webkit-box-pack: center;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.campoCheck::after, .campoRadio::after {
    content: '';
    position: absolute;
    left: 10px;
    height: 20px;
    width: 20px;
    background: #ffffff;
    border: 1px solid #838688;
    border-radius: 4px;
}
.campoRadio::after{
    border-radius: 50%;
}

input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 0;
    height: 0;
}
input[type="checkbox"]:checked + .campoCheck::after{
    background: #64DD17 !important;
}
input[type="radio"]:checked ~ .campoRadio::after {
    background: #64DD17 !important;
}
.itemWizard {
    background: #F0F0F0;
    max-width: 900px;
    margin: auto;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.3);
}
.btnGeneral.big {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 15px auto;
    height: 40px;
    border-radius: 0;
    width: 200px;
}
.btnGeneral span.iconoFlecha {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnGeneral span.iconoFlecha::before {
    content: "";
    width: 11px;
    height: 2px;
    background: transparent;
    right: 13px;
    position: absolute;
}
.btnGeneral span.iconoFlecha::after {
    content: "";
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-bottom: 0;
    border-left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 12px;
    position: absolute;
}
.btnGeneral.activo {
    background: #373D42;
    color: #ffffff;
}
.titleWizard {
    max-width: 900px;
    margin: auto;
    margin-bottom: auto;
    display: block;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,.4);
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
label.campoFile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #ffffff;
    margin: auto;
    width: calc(100% - 30px);
    padding: 10px 7px;
    border: 1px solid #838688;
    border-radius: 4px;
    height: 18px;
    background: #838688;
    cursor: pointer;
    transition: .4s;
}
label.campoFile span {
    color: #ffffff;
    font-size: 17px;
}
.adjunto.select .item label.iconRadio::after {
    content: "";
    position: absolute;
    z-index: 9;
    top: 5px;
    height: calc(100% - 10px);
    background: #fff;
    width: 16px;
    right: 5px;
    border-radius: 0 2px 2px 0;
}
.adjunto.select span {
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 10px;
    line-height: 1.2;
}
.adjunto.select label.iconRadio {
    position: absolute;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 10px;
    line-height: 1.2;
    top: 0;
    right: 0;
    text-align: right;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-right: 30px;
    border-radius: 0 4px 4px 0;
    transition: .4s;
    cursor: pointer;
}
.adjunto.select label.iconRadio:hover{
    background: #2196f3;
}
input[type="radio"]:checked ~ .iconRadio::after {
    background: #64DD17 !important;
}
.titleBigLighter {
    text-align: left;
    padding: 20px 0 0 16px;
    font-weight: lighter;
    font-size: 45px;
}
.campoCheck.btn {
    color: #fff;
    margin: 6px 0 6px 12px;
    vertical-align: top;
    height: 15px;
    border-radius: 3px;
    padding-right: 68px;
    text-align: left;
    display: inline-block;
    width: calc(100% - 110px);
}
.campoCheck.btn::after {
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    background: #ffffff;
    border: 1px solid #838688;
    border-radius: 4px;
    top: 6px;
}















footer#footer {
    background: #212121;
}



@keyframes heartbeat {
    0%{transform:scale(.75)}20%{transform:scale(1)}
    40%{transform:scale(.75)}60%{transform:scale(1)}
    80%{transform:scale(.75)}100%{transform:scale(.75)}
}
@keyframes moveX{
    from{background-position-x:0}
    to{background-position-x:100%}
}





































