
nav.menu1.responsive ul.fatherList {
    background: transparent;
    transition: .4s;
    width: auto;
    padding: 0;
    position: absolute;
    top: -15px;
    right: 0px;
    opacity: 0;
    z-index: -1;
    height: 80px;
    display: flex;
    justify-content: center;
}
nav.menu1.responsive.menuActivo ul.fatherList {
	opacity: 1;
	top: -15px;
	right: 60px;
	z-index: 9;
}
nav.menu1.responsive div.btnMenu {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
nav.menu1.responsive div.btnMenu span:nth-child(1) {
	position: relative;
	height: 4px;
	width: 30px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
	cursor: pointer;
	border-radius: 5px;
}
nav.menu1.responsive div.btnMenu.activo span:nth-child(1) {
	background: transparent;
}
nav.menu1.responsive div.btnMenu span:nth-child(1):after, nav.menu1.responsive div.btnMenu span:nth-child(1):before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: -10px;
	transition: .4s;
	cursor: pointer;
	transform: rotate(0deg);
	border-radius: 5px;
}
nav.menu1.responsive div.btnMenu span:nth-child(1):before {
	top: auto;
	bottom: -10px;
}
nav.menu1.responsive div.btnMenu.activo span:nth-child(1):after, nav.menu1.responsive div.btnMenu.activo span:nth-child(1):before {
	top: 0px;
	bottom: auto;
	transform: rotate(45deg);
}
nav.menu1.responsive div.btnMenu.activo span:nth-child(1):before {
	transform: rotate(-45deg);
	top: auto;
	bottom: 0px;
}
nav.dark span, nav.dark span:after, nav.dark span:before {
	background: #30c1be;
}
nav.light span, nav.light span:after, nav.light span:before {
	background: #30c1be;
}
@media only screen and (max-width: 1440px){
	.sectionBoxed {
	    max-width: 1220px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
}
@media only screen and (max-width: 1024px){
    .dachboard .resumenSolicitud .contTitulo {
        width: 170px;
    }
    .dachboard .resumenSolicitud .filtro {
        width: calc(100% - 175px);
    }
    .dachboard .resumenSolicitud .titulo {
        font-size: 20px;
        margin-top: 12px;
    }
    .dachboard .resumenSolicitud label.subTitulo {
        font-size: 13px;
    }
    .dachboard .ficha2 {
        width: calc(33% - 48px);
    }
	.sectionBoxed{
		max-width: 970px;
	}
	.p1 {
	    line-height: 1.5;
	    padding: 0px !important;
	}

}
@media only screen and (max-width: 900px){
	nav.menu1.responsive ul.fatherList {
		background: transparent;
		transition: .4s;
		width: 100vw;
		padding: 20px 0;
		position: absolute;
		top: 85px;
		right: 100vw;
		opacity: 0;
		z-index: -1;
		height: auto;
		display: block;
	}
	nav.menu1.responsive ul.fatherList li.item a {
		display: block;
		padding: 20px 30px;
	}
	nav.menu1.responsive.menuActivo ul.fatherList {
		opacity: 1;
        top: 65px;
        right: -15px;
	}
    .contGeneralHub .ancla {
        width: 100%;
        min-width: auto;
    }
    .contFichaHub {
        background: #DFE2E7;
        border-radius: 4px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.4);
        padding-bottom: 1px;
        max-height: inherit;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .contGeneralHub {
        height: auto;
        top: 0;
        overflow-x: hidden;
        overflow-y: hidden;
        margin-top: 90px;
    }
	.W33.paddingWidth {
	    width: calc(50% - 43.2px);
	}
    header.dark nav.menu1.responsive ul.fatherList {
        background: #212121;
    }
    header.light nav.menu1.responsive ul.fatherList {
        background: #f5f5f5;
    }
}
@media only screen and (orientation:portrait) and (max-width: 900px){
	div.cajaVideoMascara {
		width: 100%;
		height: 100vh;
		max-height: 100vw;
	}
}
@media only screen and (orientation:landscape) and (max-width: 900px){
	div.cajaVideoMascara {
		width: 100%;
		height: 560px;
		max-height: 100vw;
	}
}
@media only screen and (max-width: 700px){
    #MiCuenta.contGeneralWizard.flexBoxCenterCenter {
        display: block;
        padding-top: 60px;
    }
    .contDataUser {
        width: 90%;
        max-width: 320px;
        margin: 0 auto 60px;
    }
    .lineaVertical::after {
        background: transparent;
    }
    .resumenSolicitud {
        width: 100%;
        margin: auto;
    }
    .resumenSolicitud .lineaVertical {
        margin-left: 0;
        position: relative;
    }
    .resumenSolicitud .dato .punto {
        display: inline-flex;
        position: relative;
        left: 0;
        margin-right: 10px;
    }
    .resumenSolicitud .botonera a {
        margin: 10px auto;
    }
    .dataUser h3 {
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }

    .cajaCheackBox {
        max-width: calc(90% - 0px);
        margin: 60px auto 0;
        display: none;
    }
    .cajaCheackBox .titulo {
        text-align: center;
        margin-left: 0;
        font-size: 22px;
    }
    .cajaCheackBox .contCampo.W50, .cajaCheackBox .contCampo.W100, .cajaCheackBox.proyectos, .cajaCheackBox.programas, .cajaCheackBox.portafolios {
        width: calc(100% - 0px);
    }
    #actividades2Select.contGeneralWizard {
        margin-top: 70px;
    }
    .campoCheck.btn {
        vertical-align: middle;
        padding-right: 0;
        width: calc(100% - 40px);
        height: auto;
    }
    .campoCheck.btn::after {
        top: calc(50% - 11px);
    }
    .botonera {
        display: block !important;
    }
    .cajaCheackBox .botonera a {
        display: block !important;
    }
    .resumenSolicitud {
        width: 100%;
        margin: 60px auto 0;
    }
    .resumenSolicitud .dato.activo .bandera::before {
        background: transparent;
    }
    .resumenSolicitud .dato {
        font-size: 20px;
        text-align: center;
    }
    .resumenSolicitud .dato.activo .bandera {
        left: 0;
        border-radius: 0;
    }
    .resumenSolicitud .titulo {
        text-align: center;
    }
    .itemWizard div .contCampo {
        margin-bottom: 15px;
    }
    .headerTabla .row .column:nth-child(2), .headerTabla .row .column:nth-child(3) {
        display: none;
    }
    .bodyTabla .column:nth-child(1) {
        margin-bottom: 25px;
    }
	.flexBoxCenterCenter, .columnBlockBottom{
		flex-wrap: wrap;
	}
	div[style="text-align: right"], h1.tituloHome, h2[style="text-align: right"] {
		text-align: center !important;
	}
	.lineLeft:after {
		content: none !important;
	}
	.column {
		padding: 15px 5px 15px;
	}
	div.cajaVideoMascara {
		width: 100%;
		max-height: 170vw;
	}
	.W5, .W10, .W15, .W20, .W25, .contCampo.W25, .W30, .W33, .W35, .W40, .W45, .W50, .contCampo.W50, .W55, .W60, .W66, .W70, .W75, .W80, .W85{
		width: calc(100% - 10px);
		margin: auto;
    	display: block;
    }

	h1.tituloGrande {
	    font-weight: 900;
	    line-height: 1;
	}	
	h1.titulo br {
	    display: none;
	}
	div.cajaVideoMascara .mascara, div.cajaVideoMascara .video{
	    display: none;
	}
	div.cajaVideoMascara .mascara.mobile, div.cajaVideoMascara .videoMobile{
	    display: block;
	}
	.contentBlock.hoverBox.linck {
	    width: calc(100% + 40px);
	    position: relative;
	    left: -20px;
	}
	p.p1.inlineBlock:nth-last-child(1) a {
	    padding: 0 !important;
	}
	a[style="color:#FFFFFF;padding-right: 50px;"] {
	    padding-right: 20px !important;
	    font-size: 16px !important;
	}
	.revertResponsive {
	    display: flex;
	    flex-direction: column;
	    text-align: center;
	}
	.revertResponsive div:nth-of-type(1){
		order: 2;
	}
	.revertResponsive div:nth-of-type(2){
		order: 1;
	}

}
